

.titulo{
    font-family: timesNewRoman;
    color: gray;
    display:flex;
}   

.option{
    background-color:#ede7e2;
    color:black;
}
.option h2{
    color:white;
    padding:0px 10px;
}

.img-title{
    max-width:40%;
}

.color1{
	color: white !important;
}


.title-card{
    padding:20px;
}

.greenalpha{
  background-color: rgba(40,167,69,0.3);
}