

.titulo{
    font-family: timesNewRoman;
    color: gray;
    display:flex;
}   

.option{
    background-color:#ede7e2;
    color:black;
}
.option h2{
    color:white;
    padding:0px 10px;
}

.img-title{
    max-width:40%;
}

.color-1{
	color: white !important;
	background-color:green;
}